@CHARSET "UTF-8";

/* -- DEFUAL STYLE START ---------------------------------------- */
body{
	font-size: 12px;
}
a:link {
	text-decoration:none;
	color:blue
}

a:visited {
	text-decoration:none;
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}
/* -- DEFUAL STYLE START ----------------------------------------- */


/* -- WRITE UPDATE STYLE START -------------------------------- */
.form_style{
	margin-top:10px;
	width:410px;height:150px;
	/*border-style:dotted;border-width:0px;border-color:red;*/
}

.title{	
	width:400px;height:26px;
	/*border-style:solid;border-width:0px;border-color:blue;*/
	margin:0px 0px 0px 0px;padding:2px 0px 0px 2px;text-align:center; 
}

.content{
	width:400px;height:86px;
	/*border-style:solid;border-width:0px;border-color:blue;*/
	margin:0px 0px 0px 0px;padding:2px 0px 0px 2px;text-align:left; 
}

.disp{
	width:400px;height:12px;
	border-style:solid;border-width:0px;border-color:#000000;
	margin:0px 0px 0px 0px;padding:6px 0px 6px 0px;text-align:left; 
}

.disp-content{
	width:400px;height:92px;
	border-style:solid;border-width:1px;
	border-color:#000000;border-top-width:0px;
	margin:0px 0px 0px 0px;padding:4px 0px 4px 0px;text-align:left; 
}
/* -- WRITE UPDATE STYLE END -------------------------------------- */